# 월드컵 출전선수 골기록 데이터

In [34]:
import pandas as pd

df= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/worldcup/worldcupgoals.csv')
df.head()

           Player  Goals                Years  Country
0  Miroslav Klose     16  2002-2006-2010-2014  Germany
1         Ronaldo     15       1998-2002-2006   Brazil
2     Gerd Muller     14            1970-1974  Germany
3   Just Fontaine     13                 1958   France
4            Pele     12  1958-1962-1966-1970   Brazil

### Q21. 주어진 전체 기간의 각 나라별 골득점수 상위 5개 국가와 그 득점수를 데이터프레임형태로 출력하라

In [7]:
df.info(), df.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1295 entries, 0 to 1294
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Player   1295 non-null   object
 1   Goals    1295 non-null   int64
 2   Years    1295 non-null   object
 3   Country  1295 non-null   object
dtypes: int64(1), object(3)
memory usage: 40.6+ KB

(None, (1295, 4))

In [16]:
## 답
result = df[['Country', 'Goals']].groupby('Country').sum().sort_values('Goals',ascending=False).head(5)
display(result)

           Goals
Country
Brazil       228
Germany      226
Argentina    135
Italy        123
France       115

### Q22. 주어진 전체기간동안 골득점을 한 선수가 가장 많은 나라 상위 5개 국가와 그 선수 숫자를 데이터 프레임 형식으로 출력하라

In [19]:
display(df[['Country', 'Player']].groupby('Country').count().sort_values('Player', ascending=False).head())

           Player
Country
Brazil         81
Germany        78
Italy          60
Argentina      59
France         58

In [20]:
## 답
result = df.groupby('Country').size().sort_values(ascending=False).head(5)
print(result)

Country
Brazil       81
Germany      78
Italy        60
Argentina    59
France       58
dtype: int64

### Q23. Years 컬럼은 년도 -년도 형식으로 구성되어있고, 각 년도는 4자리 숫자이다. 년도 표기가 4자리 숫자로 안된 케이스가 존재한다. 해당 건은 몇건인지 출력하라

In [31]:
years = df.Years
years = list(years)

cnt = 0
for y in years:
    tmp = y.split('-')
    for t in tmp:
        if len(t) != 4:
            cnt += 1
            
print(cnt)

45

In [32]:
## 답
df['yearLst'] = df.Years.str.split('-')

def checkFour(x):
    for value in x:
        if len(str(value)) != 4:
            return False
        
    return True
    
df['check'] = df['yearLst'].apply(checkFour)

result = len(df[df.check ==False])
result

45

### Q25. 월드컵 출전횟수를 나타내는 ‘LenCup’ 컬럼을 추가하고 4회 출전한 선수의 숫자를 구하여라

In [40]:
df['LenCup'] = df.Years.str.split('-')
df['LenCup'] = [len(x) for x in df['LenCup']]

In [48]:
print(len(df[df.LenCup==4]))

16

In [ ]:
## 답
df2['LenCup'] =df2['yearLst'].str.len()
result = df2['LenCup'].value_counts()[4]
print(result)

### Q26. Yugoslavia 국가의 월드컵 출전횟수가 2회인 선수들의 숫자를 구하여라

In [52]:
print(len(df[(df.Country=='Yugoslavia') & (df.LenCup==2)]))

7

In [ ]:
## 답
result = len(df2[(df2.LenCup==2) & (df2.Country =='Yugoslavia')])
print(result)

### Q27. 2002년도에 출전한 전체 선수는 몇명인가?

In [58]:
cnt = 0
for year in df['Years']:
    if '2002' in year: cnt+=1

print(cnt)

156

In [59]:
## 답
result =len(df2[df2.Years.str.contains('2002')])
print(result)

NameError: name 'df2' is not defined

### Q28. 이름에 ‘carlos’ 단어가 들어가는 선수의 숫자는 몇 명인가? (대, 소문자 구분 x)

In [62]:
cnt = 0
for name in df['Player']:
    if 'carlos' in name.lower(): cnt+=1

print(cnt)

13

In [ ]:
## answer
result = len(df2[df2.Player.str.lower().str.contains('carlos')])
print(result)

### Q29. 월드컵 출전 횟수가 1회뿐인 선수들 중에서 가장 많은 득점을 올렸던 선수는 누구인가?

In [69]:
print(df[df.LenCup==1].sort_values('Goals', ascending=False).Player.values[0])

Just Fontaine

### Q30. 월드컵 출전횟수가 1회 뿐인 선수들이 가장 많은 국가는 어디인가?

In [83]:
print(df[df.LenCup==1].groupby('Country').size().sort_values(ascending=False).index[0])

Brazil

In [ ]:
## answer
result= df2[df2.LenCup==1].Country.value_counts().index[0]
print(result)

# 서울시 따릉이 이용정보 데이터

In [1]:
import pandas as pd
df =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/bicycle/seoul_bi.csv')
df.head()

         대여일자  대여시간  대여소번호 대여구분코드 성별 연령대코드  이용건수    운동량   탄소량     이동거리  사용시간
0  2021-06-01     0   3541    정기권  F  ~10대     1   0.00  0.00     0.00     8
1  2021-06-01     0    765    정기권  F  ~10대     1  27.21  0.35  1526.81    19
2  2021-06-01     0   2637    정기권  F  ~10대     1  41.40  0.37  1608.56    18
3  2021-06-01     0   2919    정기권  F  ~10대     1   0.00  0.00     0.00    75
4  2021-06-01     0    549    정기권  F  ~10대     1  13.04  0.17   731.55     6

### Q31. 대여일자별 데이터의 수를 데이터프레임으로 출력하고, 가장 많은 데이터가 있는 날짜를 출력하라

In [2]:
import numpy as np

In [3]:
result = df['대여일자'].value_counts().sort_index().to_frame()
max_ = result.sort_values('count', ascending=False).index[0]
display(result)
print(max_)

            count
대여일자
2021-06-01  48081
2021-06-02  56100
2021-06-03  18985
2021-06-04  56788
2021-06-05  52730
2021-06-06  47787
2021-06-07  52623
2021-06-08  55623
2021-06-09  54507
2021-06-10  36992
2021-06-11  52089
2021-06-12  48569
2021-06-13  43131
2021-06-14  54945

2021-06-04

### Q32. 각 일자의 요일을 표기하고 (‘Monday’ ~’Sunday’) ‘day_name’컬럼을 추가하고 이를 이용하여 각 요일별 이용 횟수의 총합을 데이터 프레임으로 출력하라

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 678950 entries, 0 to 678949
Data columns (total 11 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   대여일자    678950 non-null  object
 1   대여시간    678950 non-null  int64
 2   대여소번호   678950 non-null  int64
 3   대여구분코드  678950 non-null  object
 4   성별      678950 non-null  object
 5   연령대코드   678950 non-null  object
 6   이용건수    678950 non-null  int64
 7   운동량     678950 non-null  object
 8   탄소량     678950 non-null  object
 9   이동거리    678950 non-null  float64
 10  사용시간    678950 non-null  int64
dtypes: float64(1), int64(4), object(6)
memory usage: 57.0+ MB

In [5]:
df['day_name'] = pd.to_datetime(df['대여일자']).dt.day_name()
df.day_name

0         Tuesday
1         Tuesday
2         Tuesday
3         Tuesday
4         Tuesday
           ...
678945     Monday
678946     Monday
678947     Monday
678948     Monday
678949     Monday
Name: day_name, Length: 678950, dtype: object

In [14]:
display(df.day_name.value_counts().to_frame())

            count
day_name
Wednesday  110607
Friday     108877
Monday     107568
Tuesday    103704
Saturday   101299
Sunday      90918
Thursday    55977

In [ ]:
## answer
df['대여일자'] = pd.to_datetime(df['대여일자'])
df['day_name']  = df['대여일자'].dt.day_name()

result =  df.day_name.value_counts().to_frame()
print(result)

### Q33. 각 요일별 가장 많이 이용한 대여소의 이용횟수와 대여소 번호를 데이터 프레임으로 출력하라

In [27]:
result = df.groupby(['day_name', '대여소번호']).size().to_frame('size')
result

                 size
day_name  대여소번호
Friday    102     145
          103     143
          104      72
          105      60
          106     155
...               ...
Wednesday 4867     20
          4868      5
          9980      1
          9997      4
          9999      6

[16874 rows x 1 columns]

In [34]:
display(result.sort_values('size', ascending=False).reset_index().drop_duplicates('day_name').reset_index(drop=True))

    day_name  대여소번호  size
0   Saturday    502   378
1     Sunday    502   372
2  Wednesday    502   282
3     Friday    502   277
4    Tuesday    502   267
5     Monday    502   242
6   Thursday   2715   137

### Q34. 나이대별 대여구분 코드의 (일일권/전체횟수) 비율을 구한 후 가장 높은 비율을 가지는 나이대를 확인하라. 일일권의 경우 일일권 과 일일권(비회원)을 모두 포함하라

In [15]:
 df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 678950 entries, 0 to 678949
Data columns (total 12 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   대여일자      678950 non-null  object
 1   대여시간      678950 non-null  int64
 2   대여소번호     678950 non-null  int64
 3   대여구분코드    678950 non-null  object
 4   성별        678950 non-null  object
 5   연령대코드     678950 non-null  object
 6   이용건수      678950 non-null  int64
 7   운동량       678950 non-null  object
 8   탄소량       678950 non-null  object
 9   이동거리      678950 non-null  float64
 10  사용시간      678950 non-null  int64
 11  day_name  678950 non-null  object
dtypes: float64(1), int64(4), object(7)
memory usage: 62.2+ MB

In [52]:
daily = df[df.대여구분코드.isin(['일일권', '일일권(비회원)'])].연령대코드.value_counts().sort_index()
total = df.연령대코드.value_counts().sort_index()

In [47]:
## answer
daily = df[df.대여구분코드.isin(['일일권','일일권(비회원)'])].연령대코드.value_counts().sort_index()
total = df.연령대코드.value_counts().sort_index()

ratio = (daily /total).sort_values(ascending=False)
print(ratio)
print('max ratio age ',ratio.index[0])

연령대코드
~10대    0.312525
20대     0.239913
30대     0.166702
40대     0.110585
50대     0.065414
70대~    0.048962
60대     0.042462
Name: count, dtype: float64
max ratio age  ~10대

### Q35. 연령대별 평균 이동거리를 구하여라

In [55]:
print(df[['연령대코드', '이동거리']].groupby('연령대코드').mean())

              이동거리
연령대코드
20대    3211.890552
30대    3341.443859
40대    3514.857416
50대    3593.668100
60대    3538.145737
70대~   3085.039641
~10대   2634.426279

### Q36. 연령대 코드가 20대인 데이터를 추출하고,이동거리값이 추출한 데이터의 이동거리값의 평균 이상인 데이터를 추출한다.최종 추출된 데이터를 대여일자, 대여소 번호 순서로 내림차순 정렬 후 1행부터 200행까지의 탄소량의 평균을 소숫점 3째 자리까지 구하여라

In [73]:
result = df[df.연령대코드=='20대'].reset_index(drop=True)
result = result[result.이동거리 >= result.이동거리.mean()].reset_index(drop=True)
result.탄소량 = result.탄소량.astype('float')
result = result.sort_values(['대여일자', '대여소번호'], ascending=False).reset_index(drop=True)
result = result[:200]

print(round(result.탄소량.mean(), 3))

1.613

In [70]:
## answer
tw = df[df.연령대코드 =='20대'].reset_index(drop=True)
tw_mean = tw[tw.이동거리 >= tw.이동거리.mean()].reset_index(drop=True)
tw_mean['탄소량'] =tw_mean['탄소량'].astype('float')
target =tw_mean.sort_values(['대여일자','대여소번호'], ascending=False).reset_index(drop=True).iloc[:200].탄소량
result = round(target.sum()/len(target),3)
print(result)

1.613

### Q37. 6월 7일 ~10대의 “이용건수”의 중앙값은?

In [78]:
print(df[(df.대여일자 == '2021-06-07') & (df.연령대코드=='~10대')].이용건수.median())

1.0

### Q38. 평일 (월~금) 출근 시간대(오전 6,7,8시)의 대여소별 이용 횟수를 구해서 데이터 프레임 형태로 표현한 후 각 대여시간별 이용 횟수의 상위 3개 대여소와 이용횟수를 출력하라

In [99]:
result = df[(df.대여시간.isin([6,7,8])) & (df.day_name.isin(['Tuesday','Wednesday','Thursday','Friday','Monday']))]
display(result.groupby(['대여시간', '대여소번호']).size().to_frame('이용 횟수').sort_values(['대여시간', '이용 횟수'], ascending=False).groupby('대여시간').head(3))

            이용 횟수
대여시간 대여소번호
8    2701     119
     646      115
     1152      92
7    259      104
     230       77
     726       77
6    2744      45
     1125      40
     1028      36

### Q39. 이동거리의 평균 이상의 이동거리 값을 가지는 데이터를 추출하여 추출데이터의 이동거리의 표본표준편차 값을 구하여라

In [104]:
result = df[df.이동거리 >= df.이동거리.mean()]
print(np.sqrt(result.이동거리.var()))

5092.139707505356

### Q40. 남성(‘M’ or ‘m’)과 여성(‘F’ or ‘f’)의 이동거리값의 평균값을 구하여라

In [109]:
df.성별 = df.성별.str.upper()
display(df.groupby('성별').이동거리.mean().to_frame('이동거리평균'))

         이동거리평균
성별
F   3468.575025
M   3209.110871

# 전세계 행복도 지표 데이터

In [1]:
import pandas as pd
df =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/happy2/happiness.csv',encoding='utf-8')
df.head()

,행복랭킹,나라명,점수,상대GDP,사회적지원,행복기대치,선택의 자유도,관대함,부패에 대한인식,년도
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,2019
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,2019
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,2019
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,2019
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,2019

### Q41. 데이터는 2018년도와 2019년도의 전세계 행복 지수를 표현한다. 각년도의 행복랭킹 10위를 차지한 나라의 행복점수의 평균을 구하여라

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 312 entries, 0 to 311
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   행복랭킹      312 non-null    int64
 1   나라명       312 non-null    object
 2   점수        312 non-null    float64
 3   상대GDP     312 non-null    float64
 4   사회적지원     312 non-null    float64
 5   행복기대치     312 non-null    float64
 6   선택의 자유도   312 non-null    float64
 7   관대함       312 non-null    float64
 8   부패에 대한인식  311 non-null    float64
 9   년도        312 non-null    int64
dtypes: float64(7), int64(2), object(1)
memory usage: 24.5+ KB

In [7]:
print(df[df.행복랭킹 == 10].점수.mean())

7.259

### Q42. 데이터는 2018년도와 2019년도의 전세계 행복 지수를 표현한다. 각년도의 행복랭킹 50위이내의 나라들의 각각의 행복점수 평균을 데이터프레임으로 표시하라

In [12]:
print(df[df.행복랭킹 <= 50].groupby('년도').점수.mean().to_frame('행복점수 평균'))

      행복점수 평균
년도
2018  6.64678
2019  6.67002

### Q43. 2018년도 데이터들만 추출하여 행복점수와 부패에 대한 인식에 대한 상관계수를 구하여라

In [18]:
result = df[df.년도 == 2018][['점수', '부패에 대한인식']]
result

        점수  부패에 대한인식
156  7.632     0.393
157  7.594     0.340
158  7.555     0.408
159  7.495     0.138
160  7.487     0.357
..     ...       ...
307  3.355     0.064
308  3.303     0.097
309  3.254     0.106
310  3.083     0.038
311  2.905     0.076

[156 rows x 2 columns]

In [22]:
print(result.corr().iloc[0,1])

0.40529152271510027

### Q44. 2018년도와 2019년도의 행복랭킹이 변화하지 않은 나라명의 수를 구하여라

In [29]:
d2018 = df[df.년도==2018].reset_index(drop=True)
d2019 = df[df.년도==2019].reset_index(drop=True)
print(sum(d2018['나라명'] == d2019['나라명']))

15

In [30]:
## 답
result = len(df[['행복랭킹','나라명']]) - len(df[['행복랭킹','나라명']].drop_duplicates())
print(result)

15

### Q45. 2019년도 데이터들만 추출하여 각변수간 상관계수를 구하고 내림차순으로 정렬한 후 상위 5개를 데이터 프레임으로 출력하라. 컬럼명은 v1,v2,corr으로 표시하라

In [56]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 312 entries, 0 to 311
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   행복랭킹      312 non-null    int64
 1   나라명       312 non-null    object
 2   점수        312 non-null    float64
 3   상대GDP     312 non-null    float64
 4   사회적지원     312 non-null    float64
 5   행복기대치     312 non-null    float64
 6   선택의 자유도   312 non-null    float64
 7   관대함       312 non-null    float64
 8   부패에 대한인식  311 non-null    float64
 9   년도        312 non-null    int64
dtypes: float64(7), int64(2), object(1)
memory usage: 24.5+ KB

In [57]:
# 상관관계 분석 실시
df[df.년도==2019].drop(columns=['나라명','년도']).corr()

,행복랭킹,점수,상대GDP,사회적지원,행복기대치,선택의 자유도,관대함,부패에 대한인식
행복랭킹,1.000000,-0.989096,-0.801947,-0.767465,-0.787411,-0.546606,-0.047993,-0.351959
점수,-0.989096,1.000000,0.793883,0.777058,0.779883,0.566742,0.075824,0.385613
상대GDP,-0.801947,0.793883,1.000000,0.754906,0.835462,0.379079,-0.079662,0.298920
사회적지원,-0.767465,0.777058,0.754906,1.000000,0.719009,0.447333,-0.048126,0.181899
행복기대치,-0.787411,0.779883,0.835462,0.719009,1.000000,0.390395,-0.029511,0.295283
선택의 자유도,-0.546606,0.566742,0.379079,0.447333,0.390395,1.000000,0.269742,0.438843
관대함,-0.047993,0.075824,-0.079662,-0.048126,-0.029511,0.269742,1.000000,0.326538
부패에 대한인식,-0.351959,0.385613,0.298920,0.181899,0.295283,0.438843,0.326538,1.000000

In [58]:
# unstack : 인덱스 값을 컬럼으로 변경
df[df.년도==2019].drop(columns=['나라명','년도']).corr().unstack()

행복랭킹      행복랭킹        1.000000
          점수         -0.989096
          상대GDP      -0.801947
          사회적지원      -0.767465
          행복기대치      -0.787411
                        ...
부패에 대한인식  사회적지원       0.181899
          행복기대치       0.295283
          선택의 자유도     0.438843
          관대함         0.326538
          부패에 대한인식    1.000000
Length: 64, dtype: float64

In [59]:
# to_frame()으로 데이터프레임으로 변경
result = df[df.년도==2019].drop(columns=['나라명','년도']).corr().unstack().to_frame().reset_index()
result

     level_0   level_1         0
0       행복랭킹      행복랭킹  1.000000
1       행복랭킹        점수 -0.989096
2       행복랭킹     상대GDP -0.801947
3       행복랭킹     사회적지원 -0.767465
4       행복랭킹     행복기대치 -0.787411
..       ...       ...       ...
59  부패에 대한인식     사회적지원  0.181899
60  부패에 대한인식     행복기대치  0.295283
61  부패에 대한인식   선택의 자유도  0.438843
62  부패에 대한인식       관대함  0.326538
63  부패에 대한인식  부패에 대한인식  1.000000

[64 rows x 3 columns]

In [60]:
# 자기 자신 결과 제외, drop_duplicates()
result = result[result[0]!=1].sort_values(0, ascending=False).drop_duplicates(0).head().reset_index(drop=True)
result.columns=['v1', 'v2', 'corr']
print(result)

      v1     v2      corr
0  행복기대치  상대GDP  0.835462
1  상대GDP     점수  0.793883
2  행복기대치     점수  0.779883
3  사회적지원     점수  0.777058
4  사회적지원  상대GDP  0.754906

### Q46. 각 년도별 하위 행복점수의 하위 5개 국가의 평균 행복점수를 구하여라

In [78]:
result = df.groupby('년도').tail()[['년도','점수']]
result

       년도     점수
151  2019  3.334
152  2019  3.231
153  2019  3.203
154  2019  3.083
155  2019  2.853
307  2018  3.355
308  2018  3.303
309  2018  3.254
310  2018  3.083
311  2018  2.905

In [80]:
print(result.groupby('년도').mean())

          점수
년도
2018  3.1800
2019  3.1408

### Q47. 2019년 데이터를 추출하고 해당데이터의 상대 GDP 평균 이상의 나라들과 평균 이하의 나라들의 행복점수 평균을 각각 구하고 그 차이값을 출력하라

In [83]:
df_ = df[df.년도==2019]
mean = df_.상대GDP.mean()
mean

0.905147435897436

In [84]:
mean_over = df_[df_.상대GDP >= mean].점수.mean()
mean_down = df_[df_.상대GDP <= mean].점수.mean()
print(mean_over - mean_down)

1.390483957219251

### Q48. 각년도의 부패에 대한인식을 내림차순 정렬했을때 상위 20개 국가의 부패에 대한인식의 평균을 구하여라

In [91]:
result = df.sort_values('부패에 대한인식', ascending=False).groupby('년도').head(20)
print(result.groupby('년도')['부패에 대한인식'].mean().to_frame('평균'))

          평균
년도
2018  0.3267
2019  0.3201

### Q49. 2018년도 행복랭킹 50위 이내에 포함됐다가 2019년 50위 밖으로 밀려난 국가의 숫자를 구하여라

In [99]:
countries = list(df[(df.년도==2018) & (df.행복랭킹 <= 50)].나라명)
countries2 = list(df[(df.년도==2019) & (df.행복랭킹 <= 50)].나라명)

cnt=0
for x in countries:
    if x not in countries2:
        cnt+=1
        
print(cnt)

4

In [100]:
## answer
result = set(df[(df.년도==2018) & (df.행복랭킹 <=50)].나라명)  -set(df[(df.년도==2019) & (df.행복랭킹 <=50)].나라명)
answer = len(result)
print(answer)

4

### Q50. 2018년,2019년 모두 기록이 있는 나라들 중 년도별 행복점수가 가장 증가한 나라와 그 증가 수치는?

In [107]:
count = df.나라명.value_counts()
target = count[count>=2].index
target

Index(['Finland', 'Albania', 'Nepal', 'Jordan', 'Benin', 'Congo (Brazzaville)',
       'Gabon', 'Laos', 'South Africa', 'Venezuela',
       ...
       'Kosovo', 'Romania', 'Cyprus', 'Argentina', 'Kuwait', 'Thailand',
       'Latvia', 'South Korea', 'Estonia', 'Jamaica'],
      dtype='object', name='나라명', length=152)

In [108]:
df2 = df.copy()
df2

,행복랭킹,나라명,점수,상대GDP,사회적지원,행복기대치,선택의 자유도,관대함,부패에 대한인식,년도
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,2019
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,2019
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,2019
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,2019
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,2019
...,...,...,...,...,...,...,...,...,...,...
307,152,Yemen,3.355,0.442,1.073,0.343,0.244,0.083,0.064,2018
308,153,Tanzania,3.303,0.455,0.991,0.381,0.481,0.270,0.097,2018
309,154,South Sudan,3.254,0.337,0.608,0.177,0.112,0.224,0.106,2018
310,155,Central African Republic,3.083,0.024,0.000,0.010,0.305,0.218,0.038,2018
311,156,Burundi,2.905,0.091,0.627,0.145,0.065,0.149,0.076,2018

In [129]:
multiple = df2[df2.나라명.isin(target)].reset_index()
multiple.loc[multiple.년도==2018, '점수'] = multiple[multiple.년도==2018].점수.values*(-1)
multiple.loc[multiple.년도==2018, '점수']

print(multiple.groupby('나라명').sum().sort_values('점수', ascending=False).head(1).점수)

나라명
Burundi    0.87
Name: 점수, dtype: float64

# 지역구 에너지 소비량 데이터

In [130]:
import pandas as pd
df= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/consum/Tetuan%20City%20power%20consumption.csv')
df.head()

,DateTime,Temperature,Humidity,Wind Speed,general diffuse flows,diffuse flows,Zone 1 Power Consumption,Zone 2 Power Consumption,Zone 3 Power Consumption
0,1/1/2017 0:00,6.559,73.8,0.083,0.051,0.119,34055.69620,16128.87538,20240.96386
1,1/1/2017 0:10,6.414,74.5,0.083,0.070,0.085,29814.68354,19375.07599,20131.08434
2,1/1/2017 0:20,6.313,74.5,0.080,0.062,0.100,29128.10127,19006.68693,19668.43373
3,1/1/2017 0:30,6.121,75.0,0.083,0.091,0.096,28228.86076,18361.09422,18899.27711
4,1/1/2017 0:40,5.921,75.7,0.081,0.048,0.085,27335.69620,17872.34043,18442.40964

### Q51. DateTime컬럼을 통해 각 월별로 몇개의 데이터가 있는지 데이터 프레임으로 구하여라

In [132]:
df.DateTime = pd.to_datetime(df.DateTime)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52416 entries, 0 to 52415
Data columns (total 9 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   DateTime                   52416 non-null  datetime64[ns]
 1   Temperature                52416 non-null  float64
 2   Humidity                   52416 non-null  float64
 3   Wind Speed                 52416 non-null  float64
 4   general diffuse flows      52416 non-null  float64
 5   diffuse flows              52416 non-null  float64
 6   Zone 1 Power Consumption   52416 non-null  float64
 7   Zone 2  Power Consumption  52416 non-null  float64
 8   Zone 3  Power Consumption  52416 non-null  float64
dtypes: datetime64[ns](1), float64(8)
memory usage: 3.6 MB

In [138]:
df['month'] = df.DateTime.dt.month
print(df.groupby('month').count().DateTime.to_frame('DateTime'))

       DateTime
month
1          4464
2          4032
3          4464
4          4320
5          4464
6          4320
7          4464
8          4464
9          4320
10         4464
11         4320
12         4320

### Q52. 3월달의 각 시간대별 온도의 평균들 중 가장 낮은 시간대의 온도를 출력하라

In [149]:
df_ = df.loc[df.month == 3, ['DateTime', 'month', 'Temperature']]
df_['time'] = df_.DateTime.dt.hour

result = df_.groupby('time').Temperature.mean().to_frame('average_Temperature')
result

      average_Temperature
time
0               12.847151
1               12.474409
2               12.182473
3               11.995968
4               11.783065
5               11.630591
6               11.590914
7               11.506613
8               11.830774
9               13.119785
10              14.951290
11              16.473656
12              17.530484
13              18.111989
14              18.377581
15              18.393602
16              18.164731
17              17.783817
18              17.020323
19              15.969892
20              14.976667
21              14.239462
22              13.706344
23              13.256183

In [156]:
print(result.sort_values('average_Temperature').iloc[0][0])

11.506612903225806

### Q53. 3월달의 각 시간대별 온도의 평균들 중 가장 높은 시간대의 온도를 출력하라

In [166]:
result = df_.groupby('time').Temperature.mean().to_frame('mean')
print(result.sort_values('mean', ascending=False).iloc[0][0])

18.393602150537635

### Q54. Zone 1 Power Consumption 컬럼의 value값의 크기가 Zone 2 Power Consumption 컬럼의 value값의 크기보다 큰 데이터들의 Humidity의 평균을 구하여라

In [177]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52416 entries, 0 to 52415
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   DateTime                   52416 non-null  datetime64[ns]
 1   Temperature                52416 non-null  float64
 2   Humidity                   52416 non-null  float64
 3   Wind Speed                 52416 non-null  float64
 4   general diffuse flows      52416 non-null  float64
 5   diffuse flows              52416 non-null  float64
 6   Zone 1 Power Consumption   52416 non-null  float64
 7   Zone 2  Power Consumption  52416 non-null  float64
 8   Zone 3  Power Consumption  52416 non-null  float64
 9   month                      52416 non-null  int32
dtypes: datetime64[ns](1), float64(8), int32(1)
memory usage: 3.8 MB

In [180]:
print(df[df['Zone 1 Power Consumption'] > df['Zone 2  Power Consumption']].Humidity.mean())

68.23624448055052

### Q55. 각 zone의 에너지 소비량의 상관관계를 구해서 데이터 프레임으로 표기하라

In [183]:
display(df[['Zone 1 Power Consumption', 'Zone 2  Power Consumption', 'Zone 3  Power Consumption']].corr())

,Zone 1 Power Consumption,Zone 2 Power Consumption,Zone 3 Power Consumption
Zone 1 Power Consumption,1.000000,0.834519,0.750733
Zone 2 Power Consumption,0.834519,1.000000,0.570932
Zone 3 Power Consumption,0.750733,0.570932,1.000000

### Q56. Temperature의 값이 10미만의 경우 A, 10이상 20미만의 경우 B,20이상 30미만의 경우 C, 그 외의 경우 D라고 할때 각 단계의 데이터 숫자를 구하여라

In [186]:
df[df.Temperature < 10].Temperature.count()

2874

In [192]:
def split_data(x):
    if x<10:
        return "A"
    elif x<20:
        return 'B'
    elif x<30:
        return 'C'
    else:
        return 'D'
    
df['sp'] = df.Temperature.map(split_data)
result = df['sp'].value_counts()
display(result)

sp
B    26993
C    21105
A     2874
D     1444
Name: count, dtype: int64

### Q57. 6월 데이터중 12시의 Temperature의 표준편차를 구하여라

In [193]:
print(df[(df.month==6) & (df.DateTime.dt.hour==12)].Temperature.std())

2.0499417827951025

### Q58. 6월 데이터중 12시의 Temperature의 분산을 구하여라

In [194]:
print(df[(df.month==6) & (df.DateTime.dt.hour==12)].Temperature.var())

4.202261312849163

### Q59. Temperature의 평균이상의 Temperature의 값을 가지는 데이터를 Temperature를 기준으로 정렬 했을때 4번째 행의 Humidity 값은?

In [201]:
print(df[df.Temperature >= df.Temperature.mean()].sort_values('Temperature').reset_index(drop=True).iloc[3]['Humidity'])

87.9

### Q60. Temperature의 중간값 이상의 Temperature의 값을 가지는 데이터를Temperature를 기준으로 정렬 했을때 4번째 행의 Humidity 값은?

In [202]:
print(df[df.Temperature >= df.Temperature.median()].sort_values('Temperature').reset_index(drop=True).iloc[3]['Humidity'])

80.3

# 포켓몬 정보 데이터

In [204]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/pok/Pokemon.csv')
df.head()

URLError: <urlopen error [Errno 11001] getaddrinfo failed>