# 작업 1유형

In [24]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/stroke_/train.csv')

### 1
성별이 Male인 환자들의 age의 평균값은 ?

In [18]:
df.age = df.age.str.replace('*','').astype('int')
print(df[df.gender == 'Male'].age.mean())

44.68623481781376

### 2
bmi컬럼의 결측치를 bmi컬럼의 결측치를 제외한 나머지 값들의 중앙값으로 채웠을 경우 bmi 컬럼의 평균을 소숫점 이하 3자리 까지 구하여라

In [12]:
df.bmi2 = df.bmi.fillna(df.bmi.dropna().median())
print(round(df.bmi2.mean(), 3))

29.166

### 3
bmi컬럼의 각 결측치들을 직전의 행의 bmi값으로 채웠을 경우 bmi 컬럼의 평균을 소숫점 이하 3자리 까지 구하여라

In [13]:
df.bmi3 = df.bmi.fillna(method = 'ffill')
print(round(df.bmi3.mean(), 3))

29.188

C:\Users\na\AppData\Local\Temp\ipykernel_6136\320983425.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.bmi3 = df.bmi.fillna(method = 'ffill')

### 4
bmi컬럼의 각 결측치들을 결측치를 가진 환자 나이대(10단위)의 평균 bmi 값으로 대체한 후 대체된 bmi 컬럼의 평균을 소숫점 이하 3자리 까지 구하여라

In [21]:
mean = df[df.bmi.notnull()].groupby(df.age//10*10).bmi.mean()
dic = {x:y for x,y in mean.items()}

idx = df.loc[df.bmi.isnull(), ['age','bmi']].index
df.loc[df.bmi.isnull(), 'bmi'] = (df[df.bmi.isnull()].age//10*10).map(lambda x:dic[x])

result = df.bmi.mean()
print(round(result, 3))

29.263

### 5
avg_glucose_level 컬럼의 값이 200이상인 데이터를 모두 199로 변경하고 stroke값이 1인 데이터의 avg_glucose_level값의 평균을 소수점이하 3자리 까지 구하여라

In [25]:
df.loc[df.avg_glucose_level >=200,'avg_glucose_level'] = 199
print(round(df[df.stroke == 1].avg_glucose_level.mean(), 3))

125.188

In [26]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/pok/Pokemon.csv')
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

### 6
Attack컬럼의 값을 기준으로 내림차순정렬 했을때 상위 400위까지 포켓몬들과 401~800위까지의 포켓몬들에서 전설포켓몬(Legendary컬럼)의 숫자 차이는?

In [30]:
df1 = df.sort_values('Attack', ascending=False)[:400]
cnt1 = df1[df1.Legendary].Legendary.count()

df2 = df.sort_values('Attack', ascending=False)[400:800]
cnt2 = df2[df2.Legendary].Legendary.count()
print(cnt1 - cnt2)

57

### 7
Type 1 컬럼의 종류에 따른 Total 컬럼의 평균값을 내림차순 정렬했을때 상위 3번째 Type 1은 무엇인가?

In [36]:
result = df.groupby('Type 1').Total.mean().sort_values(ascending=False).to_frame('mean').reset_index()
print(result['Type 1'][2])

'Flying'

### 8
결측치가 존재하는 행을 모두 지운 후 처음부터 순서대로 60% 데이터를 추출하여 Defense컬럼의 1분위수를 구하여라

In [43]:
df_ = df.dropna().reset_index(drop=True)
print(df_[:249].Defense.quantile(q=0.25))

50.0

### 9
Type 1 컬럼의 속성이 Fire인 포켓몬들의 Attack의 평균이상인 Water속성의 포켓몬 수를 구하여라

In [50]:
print(df[(df.Attack >= df[df['Type 1'] == 'Fire'].Attack.mean()) & (df['Type 1'] == 'Water')].Attack.count())

37

### 10
각 세대 중(Generation 컬럼)의 Speed와 Defense 컬럼의 차이(절댓값)이 가장 큰 세대는?

In [60]:
df['num10'] = abs(df.Speed - df.Defense)
print(df[['Generation', 'num10']].sort_values('num10', ascending=False).Generation.iloc[0])

2

In [59]:
## answer
result = abs(df.groupby(['Generation'])[['Speed','Defense']].mean().T.diff().T).sort_values('Defense').index[-1]
print(result)

2

# 작업 2유형

In [77]:
import pandas as pd
train= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/stroke_/train.csv')
test= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/stroke_/test.csv')

display(train.head())
display(test.head())

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,1192,Female,31,0,0,No,Govt_job,Rural,70.66,27.2,never smoked,0
1,77,Female,13,0,0,No,children,Rural,85.81,18.6,Unknown,0
2,59200,Male,18,0,0,No,Private,Urban,60.56,33.0,never smoked,0
3,24905,Female,65,0,0,Yes,Private,Urban,205.77,46.0,formerly smoked,1
4,24257,Male,4,0,0,No,children,Rural,90.42,16.2,Unknown,0

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status
0,47472,Female,58,0,0,Yes,Private,Urban,107.26,38.6,formerly smoked
1,36841,Male,78,1,0,Yes,Self-employed,Rural,56.11,25.5,formerly smoked
2,3135,Female,73,0,0,No,Self-employed,Rural,69.35,NaN,never smoked
3,65218,Male,2,0,0,No,children,Rural,109.10,20.0,Unknown
4,1847,Female,20,0,0,No,Govt_job,Rural,79.53,NaN,never smoked

In [78]:
## 결측값 확인 - bmi(평균 대체)
# print(train.isna().sum())
# print(test.isna().sum())
train.bmi = train.bmi.fillna(train.bmi.mean())
test.bmi = test.bmi.fillna(test.bmi.mean())

## info 확인
# print(train.info(), test.info())
## object : gender, ever_married, work_type, Residence_type, smoking_status

## age > 숫자로 변환 필요
train.age = train.age.str.replace('*','').astype('int')

## y : stroke
y = train.stroke

# print(train[['gender', 'ever_married', 'work_type', 'Residence_type', 'smoking_status']].nunique())
# print(test[['gender', 'ever_married', 'work_type', 'Residence_type', 'smoking_status']].nunique())

## drop
train_d = train.drop(columns=['id', 'stroke'])
test_d = test.drop(columns='id')

## encoded
all_df = pd.concat([train_d, test_d])
all_df = pd.get_dummies(all_df)
train_dd = all_df[:len(train_d)]
test_dd = all_df[len(train_d):]

from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import roc_auc_score

X_train, X_val, y_train, y_val = train_test_split(train_dd, y, test_size=0.3, random_state=0, stratify=y)
rf = RandomForestClassifier(random_state=0)
rf.fit(X_train, y_train)

val_proba = rf.predict_proba(X_val)[:,1]
proba = rf.predict_proba(test_dd)[:,1]
pd.DataFrame({'id':test.id, 'proba':proba}).to_csv('results/exam2.csv', index=False)
print('roc_score:', roc_auc_score(y_val, val_proba))

roc_score: 0.7714933959970829