# 작업 1유형

In [1]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/spotify/spotify.csv')
df.head()

,title,artist,top genre,year released,added,bpm,nrgy,dnce,dB,live,val,dur,acous,spch,pop,top year,artist type
0,STARSTRUKK (feat. Katy Perry),3OH!3,dance pop,2009.0,2022‑02‑17,140.0,81.0,61.0,-6.0,23.0,23.0,203.0,0.0,6.0,70.0,2010.0,Duo
1,My First Kiss (feat. Ke$ha),3OH!3,dance pop,2010.0,2022‑02‑17,138.0,89.0,68.0,-4.0,36.0,83.0,192.0,1.0,8.0,68.0,2010.0,Duo
2,I Need A Dollar,Aloe Blacc,pop soul,2010.0,2022‑02‑17,95.0,48.0,84.0,-7.0,9.0,96.0,243.0,20.0,3.0,72.0,2010.0,Solo
3,Airplanes (feat. Hayley Williams of Paramore),B.o.B,atl hip hop,2010.0,2022‑02‑17,93.0,87.0,66.0,-4.0,4.0,38.0,180.0,11.0,12.0,80.0,2010.0,Solo
4,Nothin' on You (feat. Bruno Mars),B.o.B,atl hip hop,2010.0,2022‑02‑17,104.0,85.0,69.0,-6.0,9.0,74.0,268.0,39.0,5.0,79.0,2010.0,Solo

### 1
데이터는 현재 년도별 100곡이 인기순으로 정렬되어 있다. 각 년도별 1~100위의 랭킹을 나타내는 rank컬럼을 만들고 매년도 1위의 bpm컬럼의 평균값을 구하여라

In [10]:
df = df.dropna()
df.loc[:,'rank'] = list(range(1,101))*10
# df.head()
result = df[df['rank'] ==1].bpm.mean()
print(result)

125.6

### 2
2015년도에 가장많은 top100곡을 올린 artist는 누구인가?

In [21]:
result = df[df['top year']==2015.0][['artist', 'title']].groupby('artist').count().sort_values('title', ascending=False).reset_index()
result[result.title == result.title.max()].artist.values

array(['Taylor Swift', 'The Weeknd'], dtype=object)

In [22]:
result = df[df['top year'] ==2015].artist.value_counts().index[0]
print(result)

Taylor Swift

### 3
년도별 rank값이 1~10위 까지의 곡들 중 두번째로 많은 top genre는 무엇인가?

In [30]:
print(df[df['rank'] < 11]['top genre'].value_counts().index[1])

atl hip hop

### 4
피처링의 경우 title에 표시된다. 피처링을 가장 많이 해준 가수는 누구인가?

In [54]:
print(df.title.str.split('feat.').str[1].dropna().str[:-1].str.strip().value_counts().index[0])

Bruno Mars

### 5
top year 년도를 기준으로 발매일(year released)과 top100에 진입한 일자 (top year)가 다른 곡의 숫자를 count 했을때 가장 많은 년도는?

In [61]:
df['diff'] = df['top year'] != df['year released']
result = df[df['diff'] == True]
print(result['top year'].value_counts().index[0])

2016.0

### 6
artist 컬럼의 값에 대소문자 상관없이 q 단어가 들어가는 아티스트는 몇명인가?

In [69]:
df[df.artist.str.lower().str.contains('q')].artist.nunique()

6

### 7
년도 상관없이 전체데이터에서 1\~50위와 51\~100위간의 dur 컬럼의 평균값의 차이는?

In [63]:
print(df[df['rank'].isin(range(1,51))].dur.mean() - df[df['rank'].isin(range(51,101))].dur.mean())

0.896000000000015

### 8
title을 띄어쓰기 단어로 구분 했을때 가장 많이 나온 단어는 무엇인가? (대소문자 구분 x)

In [78]:
print(df.title.str.split('\(feat').str[0].str.split().explode().str.lower().value_counts().index[0])

the

### 9
년도별 nrgy값의 평균값을 구할때 최대 평균값과 최소 평균값의 차이를 구하여라

In [79]:
result = df.groupby('top year').nrgy.mean().to_frame('average')
print(result.average.max() - result.average.min())

13.860000000000007

### 10
artist중 artist type 타입을 여러개 가지고 있는 artist는 누구인가

In [83]:
df[['artist', 'artist type']].value_counts().reset_index().artist.value_counts().index[0]

'rudimental'

# 작업 2유형

In [84]:
import pandas as pd
#데이터 로드
x_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/muscle/x_train.csv")
y_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/muscle/y_train.csv")
test= pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/muscle/x_test.csv")

display(x_train.head())
display(y_train.head())

,ID,motion_0,motion_1,motion_2,motion_3,motion_4,motion_5,motion_6,motion_7,motion_8,...,motion_54,motion_55,motion_56,motion_57,motion_58,motion_59,motion_60,motion_61,motion_62,motion_63
0,0,1.0,-2.0,-1.0,4.0,-5.0,-4.0,1.0,0.0,-15.0,...,0.0,-1.0,-13.0,-3.0,1.0,-1.0,-32.0,-22.0,-2.0,-3.0
1,2,20.0,0.0,0.0,1.0,5.0,6.0,-52.0,18.0,15.0,...,-70.0,-55.0,-38.0,-14.0,-12.0,-8.0,-34.0,-63.0,-87.0,-77.0
2,4,1.0,-1.0,1.0,4.0,-5.0,-8.0,1.0,-3.0,-14.0,...,1.0,12.0,-25.0,0.0,0.0,3.0,2.0,-27.0,1.0,0.0
3,5,13.0,2.0,1.0,-3.0,1.0,3.0,28.0,3.0,12.0,...,0.0,-21.0,-17.0,-2.0,0.0,-4.0,-17.0,-21.0,-21.0,25.0
4,6,-2.0,-7.0,-4.0,-8.0,16.0,44.0,1.0,3.0,-16.0,...,-1.0,2.0,-1.0,1.0,4.0,4.0,-17.0,-38.0,-3.0,3.0

   ID  pose
0   0     1
1   2     0
2   4     1
3   5     0
4   6     1

In [89]:
## 결측값 - 없음
# print(x_train.isna().sum().sum())
# print(test.isna().sum().sum())
## object - 없음
# print(x_train.info())
# print(test.info())

## modeling
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import roc_auc_score

test_d = test.drop(columns='ID')
x_train_d = x_train.drop(columns='ID')

y = y_train.pose
X_train, X_val, Y_train, Y_val = train_test_split(x_train_d, y, test_size=0.3, random_state=0, stratify=y)
rfc = RandomForestClassifier(random_state=0)
rfc.fit(X_train, Y_train)

## predict
val_proba = rfc.predict_proba(X_val)[:,1]
proba = rfc.predict_proba(test_d)[:, 1]

print('auc score:', roc_auc_score(Y_val, val_proba))
pd.DataFrame({'ID':test.ID, 'proba':proba}).to_csv('results/exam3.csv', index=False)

auc score: 0.9998478949899897