# 작업 1유형

In [34]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e2_p1_1.csv')
df.head(2)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,NaN,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.9,4.98,24.0
1,0.02731,NaN,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.9,9.14,21.6

### 1-1
주어진 Dataset에서 CRIM값이 가장 큰 10개의 지역을 구하고
10개의 지역의 CRIM값을 그 중 가장 작은 값으로 대체하라. 그리고
AGE 컬럼 값이 80이상인 대체 된 CRIM 평균값을 구하라

In [35]:
## answer
df =df.sort_values('CRIM',ascending=False).reset_index(drop=True)
df.loc[:9,'CRIM'] = df.loc[:9,'CRIM'].min()
mean = df[df.AGE >=80].CRIM.mean()
print(mean)

5.759386625

### 1-2

1-1에서 사용한 데이터에서 RM 중앙값으로 해당 컬럼의 결측치를 대체하라
그리고 해당 컬럼의 결측치 대치 전후의 표준편차 차이의 절댓값을 소숫점 이하 3째자리 까지 구하라

In [36]:
df['RM2'] = df['RM'].fillna(df['RM'].median())
print(round(df['RM'].std() - df['RM2'].std(), 3))

0.027

### 1-3
주어진 Dataset의 DIS 평균으로 부터 1.5 * 표준편차를 벗어나는 영역을 이상치라고 판단하고
DIS 컬럼의 이상치들의 합을 구하여라.

In [37]:
result = 0
for x in df.DIS :
    if x < df.DIS.mean() - 1.5*df.DIS.std():
        result += x
    elif x > df.DIS.mean() + 1.5*df.DIS.std():
        result += x
print(result)

404.4100999999999

In [38]:
## answer
result = df[(df.DIS > df.DIS.mean() + 1.5 * df.DIS.std()) | (df.DIS < df.DIS.mean() - 1.5 * df.DIS.std())].DIS.sum()
print(result)

404.4101

# 작업 2유형
x_train 데이터로 학습한 모델을 x_test에 적용하여 예측한 결과를 제출하라.
<br>평가 지표는 f1_score이다.

In [39]:
import pandas as pd
#데이터 로드
x_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/shipping/X_train.csv")
y_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/shipping/y_train.csv")
x_test= pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/shipping/X_test.csv")


display(x_train.head())
display(y_train.head())

,ID,Warehouse_block,Mode_of_Shipment,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Product_importance,Gender,Discount_offered,Weight_in_gms
0,6045,A,Flight,4,3,266,5,high,F,5,1590
1,44,F,Ship,3,1,174,2,low,M,44,1556
2,7940,F,Road,4,1,154,10,high,M,10,5674
3,1596,F,Ship,4,3,158,3,medium,F,27,1207
4,4395,A,Flight,5,3,175,3,low,M,7,4833

     ID  Reached.on.Time_Y.N
0  6045                    0
1    44                    1
2  7940                    1
3  1596                    1
4  4395                    1

In [47]:
## 결측치 확인 - 둘 다 없음
# print(x_train.isna().sum())
# print(x_test.isna().sum())
## object 확인 : 'Warehouse_block', 'Mode_of_Shipment', 'Customer_care_calls', 'Product_importance', 'Gender'
# print(x_train.info())
# print(x_test.info())
## 카테고리 개수 확인 - 동일
# print(x_train[['Warehouse_block', 'Mode_of_Shipment', 'Customer_care_calls', 'Product_importance', 'Gender']].nunique())
# print(x_test[['Warehouse_block', 'Mode_of_Shipment', 'Customer_care_calls', 'Product_importance', 'Gender']].nunique())

## drop
y = y_train['Reached.on.Time_Y.N']
x_train_d = x_train.drop(columns=['ID'])
x_test_d = x_test.drop(columns=['ID'])

## encoded
x_train_dd = pd.get_dummies(x_train_d)
x_test_dd = pd.get_dummies(x_test_d)
x_test_dd = x_test_dd[x_train_dd.columns]

## modeling
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import f1_score

X_train, X_val, Y_train, Y_val = train_test_split(x_train_dd, y, test_size=0.3, stratify=y, random_state=0)
rf = RandomForestClassifier(random_state=0)
rf.fit(X_train, Y_train)

val_pred = rf.predict(X_val)
print('f1_score:', f1_score(Y_val, val_pred))

pred = rf.predict(x_test_dd)
pd.DataFrame({'ID':x_test.ID, 'pred':pred}).to_csv('results/test2_result.csv', index=False)

f1_score: 0.7006896551724138

# 작업 3유형

In [48]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e2_p3_1.csv')
df.head(5)

     fish   height
0  fish_1  33.74cm
1  fish_2  31.64cm
2  fish_3  27.49cm
3  fish_4  31.43cm
4  fish_5  27.56cm

### 3-1-a
122마리의 height 평균값을 m(미터) 단위로 소숫점 이하 5자리까지 실수 값만 출력하라

In [56]:
height = df.height.str.replace('cm','').astype('float')
print(round(height.mean()/100, 5))

0.29951

### 3-1-b
모집단의 평균 길이가 30cm 인지 확인하려 일표본 t 검정을 시행하여 확인하려한다. 검정통계량을 소숫점 이하 3째자리까지 구하여라

In [64]:
from scipy.stats import ttest_1samp
# help(ttest_1samp)
s, p = ttest_1samp(height, 30)
print(round(s, 3))

-0.217

### 3-1-c
위의 통계량에 대한 p-값을 구하고 (반올림하여 소숫점 이하 3째자리), 유의수준 0.05하에서 귀무가설과 대립가설중 유의한 가설을 하나를 선택하시오(귀무/대립)

In [65]:
print(round(p, 3))
if round(p, 3) < 0.05: print('대립')
else: print('귀무')

0.829
귀무

### 3-2-a
조사결과 70%의 성인 남성이 3년 동안에 적어도 1번 치과를 찾는다고 할때, 21명의 성인 남성이 임의로 추출되었다고 하자.<br><br>

21명 중 16명 미만이 치과를 찾았을 확률(반올림하여 소숫점 이하 3자리)

In [67]:
from scipy.stats import binom

n = 21
p = 0.7
k = 16

# P(X < k) 계산
prob = binom.cdf(k-1, n, p)
print(round(prob, 3))

0.637

### 3-2-b
적어도 19명이 치과를 찾았을 확률(반올림하여 소숫점 이하 3자리)

In [70]:
prob = binom.cdf(18, 21, 0.7)
print(round(1-prob, 3))

0.027